/.vs/BallFollower/v15/.suo
/.vs/BallFollower/v15/Browse.VC.db
/.vs/BallFollower/v15/Solution.VC.db
/.vs/BallFollower/v15/ipch/AutoPCH/OPENCV_TEST-4a2227ef/BALLFOLLOWER-992d4301/BALLFOLLOWER.ipch
/.vs/BallFollower/v15/ipch/AutoPCH/OPENCV_TEST-4a2227ef/STDAFX-c750e466/STDAFX.ipch
/images/93.jpg
/images/933.jpg
